html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
  display: flex;

}

/* ------ nav ------ */

nav {
  height: 100vh;
  background-color: #333;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .logo-container,
nav .controls-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

nav .logo-container img {
  width: 30px;
  background-color: #fff;
}

/* ------ Dashboard ------ */

.showcase,
.ticket {
  padding: 30px;
  width: 100%;
}

.showcase .ticket-container {
  height: 80vh;
  overflow: scroll;
}

.ticket-card {
  display: flex;
  width: 100%;
}

#link {
  text-decoration: none;
  color: #060;
}

/* ------ ticket ------ */

.ticket {
  padding: 30px;
  width: 100%;
}

.ticket .ticket-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ticket form {
  display: flex;
}

.ticket form section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 500px;
}

.ticket form label {
  margin: 20px 0 0 0;
}

.ticket form select,
.ticket form input {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid #444;
  margin: 5px;
}

.preview-container img {
  max-width: 500px;
}